@import "../../node_modules/bootstrap/scss/bootstrap.scss";

:root {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(1rem + 0.2vw);
}

#navbarNav > ul > li:nth-child(5) > button {
  background-color: $red-500;
  border: none;
}

.none {
  display: none;
}

#navbarNav > ul > li:nth-child(5) > button > a {
  color: white;
}

.brand-title {
  font-family: "Amatic SC", cursive;
}

.iconify {
  color: #fff;
  font-size: 24px;
}

.iconify:hover {
  cursor: pointer;
  color: $red-400;
}
